<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyChUdF6JaMX967P_gwHdSSTUGnb5IJjAGE</string>
	<key>GCM_SENDER_ID</key>
	<string>577678113871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bavelectric.dealerapp</string>
	<key>PROJECT_ID</key>
	<string>bavelectric-4b4a6</string>
	<key>STORAGE_BUCKET</key>
	<string>bavelectric-4b4a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577678113871:ios:dd49afc2abd7c6b62ffe3a</string>
</dict>
</plist>